<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Application master page</h1>
        @RenderBody()
    </div>
    <div>© 2019 - Metanit.com</div>
</body>
</html>
