@page "{param1?}/{param2?}"
@model RazorTagHelpersNetCore.Pages.TagHelpersSamples.FormactionTagHelperSamples.MultipleRouteParamPageModel
@{
}

<h1>Passed param: @Model.Param1</h1>

<h1>Passed param: @Model.Param2</h1>

<h1>Passed data: @Model.Name</h1>

<a href="#frag1">Go to Fragment 1</a>
<br />
<a href="#frag2">Go to Fragment 2</a>
<br />
<a href="#frag3">Go to Fragment 3</a>
<br />
<a name="frag1">Fragment 1</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a name="frag2">Fragment 2</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a name="frag3">Fragment 3</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />