@page "{singleParam?}"
@model RazorTagHelpersNetCore.Pages.TagHelpersSamples.FormactionTagHelperSamples.SingleRouteParamPageModel
@{
}

<h1>Passed param: @Model.SingleParam</h1>

<h1>Passed data: @Model.Name</h1>
