@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- HTML5 tags -->
<!-- https://www.w3schools.com/tags/default.asp -->
<!-- https://www.learnrazorpages.com/razor-pages/forms -->
<p>
    <a asp-page="CapturingUseInput">Go to Capturing user input page</a>
</p>

<!-- https://www.learnrazorpages.com/razor-pages/handler-methods -->
<p>PageHandlerMethods and The Anchor tag helper attribute - page-handler, parameter values</p>
<p><a asp-page="PageHandlerMethods">Go to PageHandlerMethods Sample page</a></p>

<!-- https://www.learnrazorpages.com/razor-pages/model-binding -->
<p>Model binding</p>
<p><a asp-page="ModelBindingSamples">Go to ModelBinding Samples page</a></p>

<!-- https://www.learnrazorpages.com/razor-pages/state-management -->
<p>State Management</p>
<p><a asp-page="StateManagement/SimpleForm">Go to StateManagement Sample page</a></p>
<p><a asp-page="StateManagement/TempDataSample/FormPage">Go to StateManagement.TempData Sample page</a></p>

<!-- https://www.tutorialsteacher.com/mvc/html-helpers -->
<p>TagHelpersSamples</p>
<p><a asp-page="PageHandlerMethods">Go to Anchor tag helper Sample page</a></p>
<p><a asp-page="TagHelpersSamples/CacheTagHelperSample">Go to Cache Tag helper Sample page</a></p>
<p><a asp-page="TagHelpersSamples/FormactionTagHelperSamples/FormactionTagHelperSamples">Go to Form Action tag helper Sample page</a></p>
<p><a asp-page="TagHelpersSamples/FormTagHelperSample">Go to Form tag helper Sample page</a></p>
<p><a asp-page="TagHelpersSamples/ImageTagHelperSample">Go to Image tag helper Sample page</a></p>
<p><a asp-page="TagHelpersSamples/HtmlHelperInputSample">Go to Input Sample page</a></p>
<p><a asp-page="TagHelpersSamples/HtmlHelperLabelSample">Go to Label Sample page</a></p>
<p><a asp-page="TagHelpersSamples/SelectAndOptionsTagHelperSample">Go to Select And Options tag helper Sample page</a></p>
<p><a asp-page="TagHelpersSamples/ComplexPage/PartialTagHelperSample">Go to Partial tag helper Sample page</a></p>

<p>Validating User Input Samples</p>
<p><a asp-page="ValidationSamples/ValidatingUserInputPage">Go to Validating User Input Sample page</a></p>
<p><a asp-page="ValidationSamples/RemoteValidationSamplePage">Go to Validating User Input with Server validation on Post Sample page</a></p>
<p><a asp-page="ValidationSamples/UsingResourceFilesForErrorMessages">Go to Using Resource Files For Error Messages Sample page</a></p>