@page
@model IndexModel
@using Microsoft.AspNetCore.Localization;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <form method="post">
            <select asp-for="DdlLanguagesSelectedValue" asp-items="Model.DdlLanguagesDataSource" class="form-control"></select>
            <input type="submit" value="Submit" />
        </form>
    </p>
    <p>
        @Model.LblCurrentLanguage
    </p>
</div>
